@charset "UTF-8";

// variable
$color-white: #FFFFFF;
$color-orange: #FF7352;
$color-green: #42C67C;
$color-black: #3B3B3B;
$color-gray: #D1D1D1;
$color-beige: #FFFAE0;

// RWD Max Width Breakpoints
@mixin max-width($breakpoints) {
    @media screen and (max-width: $breakpoints) {
        @content;
    }
}

// RWD Min Width Breakpoints
@mixin min-width($breakpoints) {
    @media screen and (min-width: $breakpoints) {
        @content;
    }
}

// RWD Max Height Breakpoints
@mixin max-height($breakpoints) {
    @media screen and (max-height: $breakpoints) {
        @content;
    }
}

// RWD Min Height Breakpoints
@mixin min-height($breakpoints){
    @media screen and (min-height: $breakpoints) {
        @content;
    }
}

// Clearfix
@mixin clearfix {
    &::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

// The CSS hack for IE10 & IE11
@mixin hack-ie {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

// Font Awesome
@mixin fontawesome{
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}

// Hide Text
@mixin hide-text {
    font-size: 0rem;
    overflow: hidden;
    text-indent: -9999px;
}